<%= form_with model: item do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %><br>
        <% item.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to "Home", root_path %>